<!DOCTYPE html>
<html>
<head>
    <title>Wedstrijd aanpassen</title>
</head>
<body>

<h2>Bewerk wedstrijd: {{ wedstrijdnaam }}</h2>

<form method="post">
    Goals:
    <input
    type="number"
    name="goals"
    id="goals"
    value="{{ wedstrijd.goals }}"
    min="0"
    onchange="updateGoals()">
    <br><br>

    Tegen:
    <input type="number" name="tegen" value="{{ wedstrijd.tegen }}" min="0">
    <br><br>

    <div id="goalsContainer">
    {% for i in range(wedstrijd.goals) %}
        <div class="goal-block">
            <p>Goal {{ i + 1 }}</p>

            <select name="maker{{ i }}">
                <option value="Owngoal">Owngoal</option>
                {% for s in spelers %}
                    <option value="{{ s }}"
                        {% if wedstrijd.doelpunten[i].maker == s %}selected{% endif %}>
                        {{ s }}
                    </option>
                {% endfor %}
            </select>

            <select name="assist{{ i }}">
                <option value="Geen">Geen</option>
                {% for s in spelers %}
                    <option value="{{ s }}"
                        {% if wedstrijd.doelpunten[i].assist == s %}selected{% endif %}>
                        {{ s }}
                    </option>
                {% endfor %}
            </select>
        </div>
    {% endfor %}
</div>

<label>Beheerderswachtwoord</label><br>
<input type="password" name="password" required>
<br><br>

    <br><br>
    <button type="submit">Opslaan</button>
</form>

<br>
{{ url_for('wedstrijden_lijst', seizoen=seizoen) }}← Terug naar wedstrijden</a>
<script>
const spelers = {{ spelers | tojson }};

function updateGoals() {
    const goals = parseInt(document.getElementById("goals").value) || 0;
    const container = document.getElementById("goalsContainer");
    container.innerHTML = "";

    for (let i = 0; i < goals; i++) {
        let html = `
            <div class="goal-block">
                <p>Goal ${i + 1}</p>

                <select name="maker${i}">
                    ${spelers.map(s => `<option value="${s}">${s}</option>`).join("")}
                </select>

                <select name="assist${i}">
                    <option value="Geen">Geen</option>
                    ${spelers.map(s => `<option value="${s}">${s}</option>`).join("")}
                </select>
            </div>
        `;
        container.insertAdjacentHTML("beforeend", html);
    }
}
</script>
</body>
</html>