<!DOCTYPE html>
<html>
<head>
    <title>Wedstrijd</title>
</head>
<body>

<h2>Wedstrijd – {{ seizoen }}</h2>

<form method="post">
<label><strong>Naam van de wedstrijd</strong></label><br>
<input
    type="text"
    name="wedstrijdnaam"
    placeholder="Bv.Milacvrienden"
    required
>
<br><br>
    Goals:
    <select name="goals" id="goals" onchange="maakGoals()">
        {% for i in range(11) %}
        <option value="{{ i }}">{{ i }}</option>
        {% endfor %}
    </select>

    Tegen:
    <select name="tegen">
        {% for i in range(11) %}
        <option value="{{ i }}">{{ i }}</option>
        {% endfor %}
    </select>

    <div id="goalvelden"></div>

<label>Beheerderswachtwoord</label><br>
<input type="password" name="password" required>
<br><br>

    <br>
    <button type="submit">Opslaan</button>
</form>

<script>
function maakGoals() {
    let aantal = document.getElementById("goals").value;
    let div = document.getElementById("goalvelden");
    div.innerHTML = "";

    for (let i = 0; i < aantal; i++) {
        let html = `<p>Goal ${i+1}</p>
            <select name="maker${i}">
                <option>Owngoal</option>
                {% for s in spelers %}
                <option>{{ s }}</option>
                {% endfor %}
            </select>
            <select name="assist${i}">
                <option>Geen</option>
                {% for s in spelers %}
                <option>{{ s }}</option>
                {% endfor %}
            </select>`;
        div.innerHTML += html;
    }
}
</script>

</body>
</html>