<!DOCTYPE html>
<html>
<head>
    <title>Seizoen {{ seizoen }}</title>
</head>
<body>

<h2>Seizoen {{ seizoen }}</h2>

<a href="{{ url_for('wedstrijd', seizoen=seizoen) }}">
    <button>➕ Wedstrijd toevoegen</button>
</a>

<br><br>

<a href="{{ url_for('overzicht', seizoen=seizoen) }}">
    <button>📊 Overzicht bekijken</button>
</a>

<br><br>

<a href="{{ url_for('wedstrijden_lijst', seizoen=seizoen) }}">
    <button>✏️ Wedstrijden aanpassen</button>
</a>

<br><br>

<a href="{{ url_for('index') }}">Ga terug naar beginpagina</a>

</body>
</html>
