<!DOCTYPE html>
<html>
<head>
    <title>Wedstrijd</title>
</head>
<body>

<h2>Wedstrijd – {{ seizoen }}</h2>

<form method="post">
<label><strong>Naam van de wedstrijd</strong></label><br>
<input
    type="text"
    name="wedstrijdnaam"
    placeholder="Bv.Milacvrienden"
    required
>
<br><br>
    Goals:
    <select name="goals" onchange="this.form.submit()">
        {% for i in range(11) %}
        <option value="{{ i }}">{{ i }}</option>
        {% endfor %}
    </select>

    Tegen:
    <select name="tegen">
        {% for i in range(11) %}
        <option value="{{ i }}">{{ i }}</option>
        {% endfor %}
    </select>


<br><br>

<a href="{{ url_for('index') }}">Ga terug naar beginpagina</a>    
    
</body>
</html>
